.searchbarContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icon {
    position: absolute;
    left: 6px;
    color: grey;
    pointer-events: none;
}

.searchbar {
    padding-left: 30px;
    border: 1px solid black;
    border-radius: 6px;
    background: #fff;
}

/* .searchbar::placeholder {
    text-indent: 30px;
} */