.userListTitle {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.userListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.buttonGroup button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}