.body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.header {
  flex-shrink: 0;
  background: #f4d29b;
  padding: 1rem;
  border-bottom: 1px solid #7a7a7a;
}

/* .sidebar {
  display: flex;
  flex-direction: column;
  background: #f4d29b;
  width: 300px;
  height: auto;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  justify-content: space-between;
} */

/* .main {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1;
  overflow-y: auto;
} */

/* .bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content {
  background: #fff;
  height: 66vh;
  border-radius: 6px;
  padding: 1.3rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 1.4rem;
  color: #272727;
  cursor: pointer;
}

.love {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
} */

.fileActions {
  display: flex;
  align-items: center;
  justify-content: end;
}