.body {
  margin: 0;
  height :100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
  min-height: 0;
}

.header {
  height: 80px;
  flex-shrink: 0;
  background: grey;
  padding: 1rem;
}

.sidebar {
  background: lightblue;
  width: 300px;
  flex-shrink: 0;
  height: calc(100vh - 80px);
  /* overflow-y: auto; */
  padding: 1rem;
}

.main {
  flex: 1;
  padding: 1rem;
  max-height: calc(100vh - 80px);
  max-width: calc(100% - 300px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 1rem;
}