.body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.header {
  flex-shrink: 0;
  background: #f4d29b;
  padding: 1rem;
  border-bottom: 1px solid #7a7a7a;
}



.main {
  padding: 0px;
  height: calc(100vh - 74px);
  overflow-y: auto;
  scrollbar-width: none; /* :) */
}

.testButton {
  margin-left: 90%;
}

.hoverEffect:hover {
  background-color: #e6b96a;
  border-radius: 4px;
}

.fileActions {
  display: flex;
  align-items: center;
  justify-content: end;
}

.createFolderModal {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.submitButton {
  background-color: #f4d29b;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.submitButton:hover {
  background-color: #e9be77;
}

.modalButtons {
  display: flex;
  gap: 4px;
  float: right;
}

.cancelButton {
  background: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.cancelButton:hover {
  background-color: #f5f5f5;
}