.sidebarWrapper {
    display: flex;
    display: row;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    height: calc(100vh - 74px);
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background: #f4d29b;
    border-right: #f4d29b 3px solid;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.sidebarResizer {
  display: flex;
  width: 12px;       
  height: 100%;
  cursor: col-resize;
  background: transparent; 
  transition: background 0.2s ease;
  transform: translate(-6px);
  z-index: 999;
}

.sidebarResizer:hover {
  background: rgba(0, 0, 0, 0.2);
}












/* .sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 150px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background: #f4d29b;
  width: 700px;
  height: calc(100vh - 80px);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  justify-content: space-between;
} */

.bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.treeContent {
    background: #fff;
    width: 100%;
    height: 66vh;
    border-radius: 6px;
    padding: 1.3rem;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 1.4rem;
    color: #272727;
    cursor: pointer;
}

.love {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}