.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image {
    display: block;
    width: 64px;
    height: 64px;
}

.name {
    text-align: center;
    font-size: clamp(1rem, 0.8%, 1.5rem);
}