.unselected {
    user-select: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.selected {
    user-select: none;
    border-radius: 5px;
    border: 1px solid red;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.wrapper:hover {
    transform: scale(1.05);
    background-color: rgba(250, 184, 42, 0.321);
    cursor: pointer;
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.image {
    scale: 200px;
    display: block;
    width: 64px;
}

.name {
    text-align: center;
    font-size: clamp(0.7rem, 0.5%, 1.5rem);
    height: 1rem;
    width: 100%;
    overflow: hidden;
}

.name:has(span:overflowing) {
    text-align: start;
    height: 2rem;
}