.body {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.3rem; */
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1;
  overflow-y: auto;
}

