.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    inline-size: 80px;
    
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.image {
    display: block;
    width: 64px;
    height: 64px;
}

.name {
    text-align: center;
    font-size: clamp(0.7rem, 0.5%, 1.5rem);
    height: 1rem;
    width: 80px;
    overflow: hidden;
}

.name:has(span:overflowing) {
    text-align: start;
    height: 2rem;
}