.userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 1rem;
}

.userTable th, .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background: #f4d29b;
}